.success
{
    margin: 2px 0px;
    padding: 2px 2px;
    background-color: green;
    color: white;
}

.danger
{
    margin: 2px 0px;
    padding: 2px 2px;
    background-color: red;
    color: white;
}

ul
{
    list-style-type: none;
}