.header
{
    border-bottom: 1px solid darkslategray;
    padding: 2px 10px;
}

.edit_button
{
    border-radius: 5px;
}

.edit_button:hover
{
    background-color: limegreen;
    color: white;
    border-radius: 5px;
}

.back_button_container
{
    width: 20%; 
    margin: 5px auto;
    padding: 2px 12px;
    border-radius: 5px;
    cursor: pointer;  
}

a
{
    width: 300px;
    text-decoration: none;
}

.back_button
{
    padding: 2px 2px;
    border-radius: 5px;
    width: max-content;
    background: slategray;
    color: bisque;
}
.back_button:hover
{
    background-color: darkslategray;
}

#input_form
{
    margin: 10px 10px;
}