body
{
    background-image: url('/img/bg1.jpg');

    
    padding: 0;
    margin: 0;
}

.header
{
    margin: 0px 0px;
    backdrop-filter: blur(5px);
}

.left
{
    display: inline-block;
    margin: 3px auto;
    width: 50%;
}

.navbar
{
    display: inline-block;
    text-shadow: 1px 1px;
}

.navbar li
{
    display: inline-block;
}

.navbar li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
}

.navbar li a:hover
{
    color: bisque
}

#current_page
{
    color: bisque
}

.container
{
    height: fit-content;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container
{
    width: 400px;
    height: 115px;
    border:  2px solid white;
    border-radius: 5px;
    color: teal;
    padding-bottom: 35px;
    /* backdrop-filter: blur(5px); */
}

.get_started
{
    text-decoration: none;
    background: crimson;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px 4px;
    margin-bottom: 20px;
}

.get_started:hover
{
    text-decoration: none;
    background: crimson;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 4px;
    margin-bottom: 10px;
}

h1
{
    margin-bottom: 40px;
    color: white;
}