.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkslategray;
    padding: 2px 10px;
    
}

.create_new_button
{
    padding: 4px 4px;
    background: teal;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
}

a.create_new_button:hover
{
    background-color: steelblue;
}

.edit_button
{
    padding: 4px 4px;
    background: orange;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 0px 5px;
}

a.edit_button:hover
{
    background-color: darkorange;
}

.delete_button
{
    padding: 4px 4px;
    background: red;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 0px 5px;
}

a.delete_button:hover
{
    background-color: rgb(204, 21, 21);
}

#note_list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

a
{
    text-decoration: none;
}

li
{
    height: 50px;
}

ul
{
    margin: 5px 0px;
    padding: 0px;
}

.para_title
{
    width: 250px;
    height: 35px;
    overflow-x: auto;
}

.box_container
{
    width: 400px;
    border:  2px solid darkslategray;
    border-radius: 5px;
}

.notes_container
{ 
    width: 400px;
    height: 450px;
    overflow-y: scroll;
}