.container
{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container
{
    width: fit-content;
    /* height: 500px; */
    border:  2px solid darkslategray;
    border-radius: 5px;
    /* overflow: scroll; */
}

ul
{
    list-style-type: none;
}